useDynLib(GCcorrect)

export(prepareChrom,
       prepareReads,
       basicPlots,
       compDataRefPlots,
       findLongZeros,
       sampleChrom,
       makeGCLens,
       scoreGCLens,
       plotGCLens,
       prepareGCChrom,
       getCondMean,
       plotCondMean,
       sumCondMeans,
       predictLine,
       condMeanAndPredict,
       meanLine,
       unEvenBin,
       binReads,
       compTV,
       compSTV,
       getTVScore,
       predLoess,
       uncorrLoess)
