exportClasses(CNVDetectionResult)
export(cn.mops)
export(getReadCountsFromBAM)
export(getSegmentReadCountsFromBAM)
exportMethods(cnvr)
exportMethods(cnvs)
exportMethods(individualCall)
exportMethods(iniCall)
exportMethods(integerCopyNumber)
exportMethods(localAssessments)
exportMethods(normalizedData)
exportMethods(params)
exportMethods(plot)
exportMethods(posteriorProbs)
exportMethods(segmentation)
exportMethods(segplot)
exportMethods(show)
export(normalizeChromosomes)
export(normalizeGenome)
export(segment)
importFrom(graphics,plot)
importFrom(methods,show)
importFrom(Rsamtools,countBam)
importFrom(Rsamtools,scanBam)
importFrom(Rsamtools,scanBamFlag)
importFrom(Rsamtools,scanBamHeader)
importFrom(Rsamtools,ScanBamParam)
useDynLib(cn.mops)
